.App .modal-overlay   {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.modal-content {
  background: #fff;
  border-radius: 12px;
  padding: 1.5rem;
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-self: center !important;
}

.modal-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.modal-back-btn {
  border: none;
  background: none;
  cursor: pointer;
  color: var(--color-primary-dark);
}

.modal-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--color-primary-dark);
}

.modal-form label {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  color: var(--color-primary-dark);
}

.modal-form input {
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-top: 0.25rem;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
h3{
    text-align: center;
}
.btn-primary {
  background: var(--color-primary-dark);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
}

.btn-secondary {
  background: #eee;
  color: var(--color-primary-dark);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
}
